.start-post{
    border: 2px solid var(--main-bg-color-deep);
    margin-top: 2rem;
    text-align: left;
}
.start-post .row-1{
    padding: 1rem 2rem 2rem;
}
.start-post .row-1 button{
    color: var(--main-bg-color-deep);
    background-color: white;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.start-post .row-1 button img{
    width: 3rem;
    font-weight: 400;
}
.start-post .row-1 button h6{
    font-size: 0.9rem;
    text-decoration: underline;
    font-weight: 500;
}
.start-post .buttons{
    border-top: 2px solid var(--main-bg-color-deep);
    padding: 0.5rem 2rem;
}
.start-post .buttons button{
    color: var(--main-bg-color-deep);
    background-color: white;
    border: none;
    outline: none;
    margin-right: 2.5rem;
    font-weight: 600;
    cursor: pointer;
}
.start-post .buttons button img{
    display: block;
    width: 2rem;
    text-align: center;
    margin-bottom: 0.2rem;
}
@media only screen and (max-width: 480px){
    .start-post{
        margin-top: 2rem;
    }
    .start-post .row-1{
        padding: 1rem 1rem 1.8rem;
    }
    .start-post .row-1 button{
        font-weight: 400;
    }
    .start-post .row-1 button img{
        width: 2.5rem;
    }
    .start-post .buttons{
        padding: 0.5rem 1rem;
    }
    .start-post .buttons button{
        margin-right: 2.2rem;
        font-weight: 600;
        cursor: pointer;
        font-size: 0.75rem;
    }
    .start-post .buttons button img{
        display: block;
        width: 1.7rem;
        text-align: center;
        margin-bottom: 0.2rem;
    }
}